/* 
code for poolehenry.github.io
made by PooleHenry, 2017
*/

@font-face {
    font-family: openFontBlack;
    src: url(openFontBlack.woff);
    font-weight:400;
}

* {	
	}

p {
    font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
    font-family: openFontBlack, Georgia, Times, serif;
    font-size: 32pt
}
