/* 
code for poolehenry.github.io
made by PooleHenry, 2017
*/

p {
    font-family: sans-serif;
    padding-left: 3%;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #006c04;
    padding-left: 3%;
    padding-top: 1%;
}